.App {
  text-align: center;
  padding: 15px 10px;
}

.search-box {
  padding: 5px 0;
  border: 1px solid #ddd;
}

.item-list {
  padding: 5px 0;
  margin-top: 10px;
  border: 1px solid #ddd;
}

.search-box table td {
  padding: 3px 0px;
}

.search-box table {
  width: 100%;
}

.search-box table th {
  width: 90px;
  padding: 3px 0 3px 10px;
  text-align: left;
}

.search-box table td input[type="text"] {
  box-sizing: border-box;
  padding: 5px 2%;
  width: 96%;
  background: #f7f7f7;
  border: 1px solid #ddd;
}

.search-box table input[type="date"] {
  width: 47%;
  color: #aaa;
  background: #f7f7f7;
  border: 1px solid #ddd;
}

.search-box table input[type="date"]:nth-of-type(1) {
  margin-right: 2%;
}
